
        <!-- ========================  404 ======================== -->
       <section class="not-found" style="padding : 0 !important">
            <div class="container">
                <img src="/assets/images/notfound.png" width="100%"/>
                <p><span translate>notfound_1</span></p>
                <p translate>notfound_2</p>
                <p translate>notfound_3 <a routerLink="/home" translate>notfound_4</a>  <span translate> notfound_5</span> </p>
            </div>
        </section>