<!-- ========================  Login & register ======================== -->

<section class="login">


    <!--Content-->

    <div class="container" >

        <div class="row">

            <!-- === left content === -->

            <div class="col-md-6 offset-md-3" [ngClass]="{'rightToLeft':translateService.currentLang=='ar',
            'leftToRight':translateService.currentLang=='en'}">

                <div class="login-wrapper" >

                    <!--signin-->

                    <div class="login-block login-block-signin" style="display: block;">

                        <div class="h4" translate>change_password </div>

                        <hr />
                        <form  (ngSubmit)="changePassword(loginForm,$event)" [formGroup]="loginForm">
                        <div class="row">

                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" value="" class="form-control" 
                                    [ngClass]="{'invalid-field': formLoginField('email').errors?.pattern ,
                                    'required-field':formLoginField('email').invalid && 
                                    (formLoginField('email').dirty || formLoginField('email').touched)}"
                                    formControlName="email"
                                    placeholder="{{(translateService.currentLang=='ar')?'البريد الالكتروني':'Email'}}">
                                </div>
                            </div>
                          
                            <div class="col-12">
                                <button
                                [disabled]="!loginForm.valid || loginForm.pristine" class="btn btn-primary" type="submit"
                                translate>send_password</button>
                            </div>
                        </div>
                        </form>
                    </div> <!--/signin-->
                    <!--signup-->
                </div> <!--/login-wrapper-->

            </div> <!--/col-md-6-->

        </div>

    </div>
</section>


