 <!-- ========================  About ======================== -->

 <section class="about pt-4 pt-lg-5">

    <div class="container-fluid">
        <div class="container image">
            <img src="/assets/images/maps.png" style="max-height:600px;" alt="Alternate Text" />
        </div>
    </div>
    <!--Header-->

    <header>
        <div class="container" [ngClass]="{'rightToLeft':translateService.currentLang=='ar','leftToRight':translateService.currentLang=='en'}" >
            <h2 class="title" translate>menu_about</h2>
                <div class="text">
                    <p translate>about_content_1</p>
                    <p translate>about_content_2</p>
                    <p translate>about_content_3</p>
                    <p translate>about_content_4</p>
                    <p translate>about_content_5</p>
                    <hr/>
                    <h4 translate>about_content_6</h4>
                    <p translate>about_content_7</p>
                    <hr/>
                    <h4 translate>about_content_8</h4>
                    <p translate>about_content_9</p>
                    <hr/>
                    <h4 translate>about_content_10</h4>
                    <p translate>about_content_11</p>
                    <hr/>
                    <h4 translate>about_content_11</h4>
                    <h4 translate>about_content_12</h4>
                    <h6 translate>about_content_13</h6>
                    <h6 translate>about_content_14</h6>
                    <ul>
                        <li translate>about_content_15</li>
                        <li translate>about_content_16</li>
                        <li translate>about_content_17</li>
                        <li translate>about_content_18</li>
                    </ul>
                </div>
        </div>
    </header>

    <!--Main image-->

   
    <div class="container">

        <div class="row">
          
        </div>

    </div>

</section>
