 <!-- ========================  Contact ======================== -->

 <section class="contact">

    <!-- === Goolge map === -->

    <div id="map">

     <!--=========================== Maps & rating ============================-->
    <div class="mapouter">
            <div class="gmap_canvas">
        <iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0"
                     marginwidth="0" src="https://maps.google.com/maps?height=400&amp;hl=en&amp;q=Salah Youssef - jewelry making tools & equipment, 78 Al Bab Al Thaleth, El-Gamaleya, El Gamaliya, Cairo Governorate 4331154&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                     </div>
            </div>
    <img src="assets/images/image.png" style="width: 100%;" />
    </div>

    <div class="container">

        <div class="row">

            <div class="col-md-10 offset-md-1">

                <div class="contact-block">

                    <div class="contact-info">
                        <div class="row">

                            
                            <div class="col-sm-4">
                                <figure class="text-center">
                                    <span class="icon icon-phone"></span>
                                    <figcaption>
                                        <strong translate>contact_content_5</strong>
                                        <span [ngClass]="{'rightToLeft':translateService.currentLang=='ar',
                                        'leftToRight':translateService.currentLang=='en'}">
                                          
                                            <strong translate>contact_content_7 </strong> :<a href="tel:00201006621166"> <span translate> contact_content_9   </span> </a>
                                            <br />
                                            
                                            <strong translate>contact_content_8 </strong> : <a href="tel:0022593967"><span translate> contact_content_10  </span> </a>
                                        </span>
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="col-sm-4">
                                <figure class="text-center">
                                    <span class="icon icon-map-marker"></span>
                                    <figcaption>
                                        <strong translate>contact_content_1</strong>
                                        <span translate>contact_content_2</span>
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="col-sm-4">
                                <figure class="text-center">
                                    <span class="icon icon-clock"></span>
                                    <figcaption>
                                        <strong translate>contact_content_6</strong>
                                        <span>
                                            <span translate>contact_content_11</span> <br />
                                            
                                        </span>
                                    </figcaption>
                                </figure>
                            </div>
                           
                        </div>
                    </div>

                    
                    <div class="contact-info" [ngClass]="{'rightToLeft':translateService.currentLang=='ar',
                    'leftToRight':translateService.currentLang=='en'}">
                        <h2 class="title" translate>send_email</h2>
                        <p translate>
                        send_email_desc </p>

                        <div class="contact-form-wrapper">

                            <div class="contact-form clearfix">
                                <form (ngSubmit)="onSubmitForm(createForm)" [formGroup]="createForm">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input id="txt_name"  
                                                [attr.placeholder]="translateService.instant('list_name')"
                                                [ngClass]="{'required-field':formField('name').errors?.required && formField('name').touched}"
                                                type="text" class="form-control input-lg" formControlName="name">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input 
                                                [attr.placeholder]="translateService.instant('email')"
                                                [ngClass]="{'required-field':formField('mail').errors?.required && formField('mail').touched,
                                                'invalid-field': formField('mail').errors?.pattern}" id="mail" type="mail" class="form-control input-lg" formControlName="mail">
                                            </div>
                                        </div>

                                        <div class="col-md-12">

                                            <div class="form-group">
                                                <input id="txt_phone" 
                                                [attr.placeholder]="translateService.instant('modal_mobile')"
                                                [ngClass]="{'required-field':formField('phone').errors?.required && formField('phone').touched}"
                                                type="text" class="form-control input-lg" formControlName="phone"
                                                NumbersOnly [allowDecimals]="true" [allowSign]="false" 
                                                oninput="this.value = this.value.substr(0,12).toUpperCase()">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea rows="4" cols="50"
                                                [attr.placeholder]="translateService.instant('message')"
                                                id="txt_message" [ngClass]="{'required-field':formField('message').errors?.required && formField('message').touched}"
                                                    class="form-control input-lg" formControlName="message">
                                                </textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-12 text-center">
                                            <button [disabled]="!createForm.valid || createForm.pristine" class="btn btn-success float-right" type="submit"
                                                translate>send
                                              </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                
                </div> 
            
                <!--/contact-block-->
            </div><!--col-sm-8-->
        </div> <!--/row-->
    </div><!--/container-->
</section>

