.labeldiv
{
    background-color: rgb(226, 235, 249);
    margin: 0 auto;
    margin-top: 4px;
    width: 463px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
}