<div class="modal-header">
    <div class="modal-title">
      <h4>{{ modalContentType }} Transaction Logs</h4>
      <!-- <span *ngIf="modalContentType=='View'">{{ transaction.transactionId }}</span> -->
    </div>
    <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">

      <table class="table table-bordered custom-table">
        <!-- Table Headers -->
        <thead class="thead-light">
        <th>Date</th>
        <th>Status</th>
        <th>Actor</th>
        <th>System</th>
    </thead>
    <tr *ngIf="logs && logs.length==0">
      <td colspan="4">No records found</td>
    </tr>
    <tr *ngFor="let entry of logs">
        <td>{{entry.logTimeStamp | date:'medium':'+0200'}}</td>
        <td>{{entry.transactionStatus}}</td>
        <td>{{entry.email}}</td>
        <td>{{entry.systemChange==1?'YES':'NO'}}</td>
    </tr>
</table>


</div>