
 <!--   <div class="page-loader">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div> -->

    


        <!-- ========================  Header content ======================== -->
        
        <section class="header-content">


            <div  class="constainer-fluid">

                <div class="owl-slider owl-carousel owl-theme" data-autoplay="true">

                    <!-- <div *ngFor="let item of banners" class="item d-flex align-items-center" ></div> -->
                    
                    <div class="item d-flex align-items-center banner1" ></div>
                    <div class="item d-flex align-items-center banner2" ></div>
                    
                </div>
            </div>
        </section> 
                   
                    <!--Slide item-->
<!--url({{bannersUrl+item.image}})-->
                    <!-- <div *ngFor="let item of banners" class="item d-flex align-items-center" 
                    style="background-image:'./'">
                        <div class="container">
                            <div class="caption">
                                <div class="promo text-center">
                                    <div class="animated" data-start="fadeInUp">
                                        <div class="title title-sm p-0">{{(translateService.currentLang=='ar')?item.titlear:item.title}}</div>
                                    </div>
                                    <div class="animated" data-start="fadeInUp">
                                        {{(translateService.currentLang=='ar')?item.descar:item.desc}}
                                    </div> -->
                                    <!--
                                    <div class="animated" data-start="fadeInUp">
                                        <a href="#" target="_blank" class="btn btn-light">New collection</a>
                                        <a href="#" target="_blank" class="btn btn-outline-light"> Get first discount</a>
                                    </div>
                                -->
                                <!-- </div>
                            </div>
                        </div> -->
                    <!-- </div> -->

                <!-- </div> /owl-slider -->
            <!-- </div> -->

            <!--
            <h2 class="d-none">Slider element</h2>


            <div class="container-fluid" *ngIf="items && items.length>0"  >
                <gallery  [itemTemplate]="itemTemplate" id="basic-test" [items]="items"></gallery>
            </div>
            <ng-template #itemTemplate let-index="index" let-type="type" let-data="data" let-currIndex="currIndex">
                <span *ngIf="type === 'image' && index === currIndex"  class="item-text">
                    <h3 style="text-align: center;">{{(translateService.currentLang=='ar')?data.titlear:data.title}}</h3>
                    <h6 style="text-align: center;">{{(translateService.currentLang=='ar')?data.descar:data.desc}}</h6>
                </span>
              </ng-template>

--> 
              
            <!--Icons-->
            <!-- <div *ngIf="rooms && rooms.length>0">
            <div  class="owl-icons-wrapper">

                <div  class="container">

                    <div  class="owl-icons owl-carousel owl-theme" data-icons-sm="3" data-icons-md="4" data-icons-lg="5"> -->
                        <!--
                        <a *ngFor="let item of rooms" (click)='goToPage("room",item.id)'>
                            <figure style="cursor: pointer;">
                                <div class="image">
                                    <img src="assets/icons/{{item.icon}}" alt="Alternate Text" />
                                </div>
                                <figcaption>{{(translateService.currentLang=='ar')?item.namear:item.name}}</figcaption>
                            </figure>
                        </a>
                        -->
                        <!-- <a (click)='goToPage("cat",130)'>
                            <figure style="cursor: pointer;">
                                <div class="image">
                                    <img src="assets/icons/icon-armchair.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>{{(translateService.currentLang=='ar')?'طقم رسبشين':'Reception Set'}}</figcaption>
                            </figure>
                        </a>

                        <a (click)='goToPage("cat",53)'>
                            <figure style="cursor: pointer;">
                                <div class="image">
                                    <img src="assets/icons/icon-sofa.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>{{(translateService.currentLang=='ar')?'كنبة شكل-L':'L-Shape'}}</figcaption>
                            </figure>
                        </a>

                        <a (click)='goToPage("cat",63)'>
                            <figure style="cursor: pointer;">
                                <div class="image">
                                    <img src="assets/icons/icon-bedroom.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>{{(translateService.currentLang=='ar')?'سرير':'Beds'}}</figcaption>
                            </figure>
                        </a>

                        <a (click)='goToPage("cat",27)'>
                            <figure style="cursor: pointer;">
                                <div class="image">
                                    <img src="assets/icons/icon-cabinet.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>{{(translateService.currentLang=='ar')?'أقمشة ستائر':'Curtain Fabrics'}}</figcaption>
                            </figure>
                        </a>

                        <a (click)='goToPage("cat",121)'>
                            <figure style="cursor: pointer;">
                                <div class="image">
                                    <img src="assets/icons/icon-table.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>{{(translateService.currentLang=='ar')?'أثاث خارجى - طقم معيشة':'Outdoor - Living Set'}}</figcaption>
                            </figure>
                        </a> -->




                    <!-- </div> /owl-icons -->
                <!-- </div> -->

            <!-- </div>
            </div> -->
        <!-- </section> -->

        <!-- ========================  Popular products  ======================== -->

        <section class="products">

            <!--Header-->

             <header>
                <div [ngStyle]="{'text-align':translateService.currentLang=='ar'?'right':'left'}" class="container">
                    <h2 class="title" translate>home_popular</h2>
                    <div class="text">
                        <p>
                             <a routerLink="/products-list" class="btn btn-main" translate>home_view_all</a>
                        </p>
                    </div>
                </div>
            </header> 

            <!--Content-->

            <div class="container" [ngClass]="{'rightToLeft':translateService.currentLang=='ar',
            'leftToRight':translateService.currentLang=='en'}">

                <div *ngIf="popularProducts && popularProducts.length>0" class="row"> 

                    <!--Product item-->

                     <div *ngFor="let item of popularProducts" class="col-6 col-lg-4">
                        <article>
                            <div class="figure-grid">
                                <div class="image">
                                    <span  *ngIf="(item.discount>0)"  style="direction: ltr;" class="badge badge-warning">-{{item.discount}}%</span>
                                       
                                    <a routerLink="/product-detail/{{item.id}}">
                                        <img src="{{imgUrl+item.productpic_image}}" alt="" />
                                    </a>
                                </div> 
                                <div class="text">
                                    <h2 class="title h4">
                                        <a routerLink="/product-detail/{{item.id}}">{{(translateService.currentLang=='ar')?item.namear:item.name}}</a>
                                    </h2>
                                    <p style="margin:0 !important;">{{(translateService.currentLang=='ar')?item.store_namear:item.store_name}}</p>
                                    <!-- <sub *ngIf="(item.discount!=0)">{{item.price | number:'1.0-0'}} <span translate>currency</span></sub>
                                            <span *ngIf="(item.discount==0)" style="font-size:12px;">{{item.price | number:'1.0-0'}} <span translate>currency</span></span>
                                            <sup *ngIf="(item.discount>0)">{{(item.price * (100-item.discount) / 100)| number:'1.0-0'}} <span translate>currency</span></sup> -->
                                           <span class="description clearfix">
                                        {{(translateService.currentLang=='ar')?item.descar:item.desc}}
                                    </span>
                                </div>
                            </div>
                        </article>
                    </div>

                </div> 

             </div> 

        </section> 

        <!-- ========================  Blog ======================== -->
        <br/><br/>
        <div class="container">
            <h2>Testimonals</h2>
            <div class="row">
                <div class="col-md-4">
                    <h2><img src="/assets/images/no-user.jpg" style="width: 80%;" /></h2>
                   <h4>Divano Store</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan efficitur dui in porttitor.
                        Donec mollis volutpat consectetur. Vestibulum pulvinar iaculis dolor, molestie semper ulvinar iaculis purus lacinia quis.
                    </p>
                    <p>
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2><img src="/assets/images/no-user.jpg" style="width: 80%;" /></h2>
                    <h4>Alpha Store</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan efficitur dui in porttitor.
                        Donec mollis volutpat consectetur. Vestibulum pulvinar iaculis dolor, molestie semper ulvinar iaculis purus lacinia quis.
                    </p>
                    <p>
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2><img src="/assets/images/no-user.jpg" style="width: 80%;" /></h2>
                    <h4>Beta Store</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan efficitur dui in porttitor.
                        Donec mollis volutpat consectetur. Vestibulum pulvinar iaculis dolor, molestie semper ulvinar iaculis purus lacinia quis.
                    </p>
                    <p>
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    </p>
                </div>
            </div>
        
        <!-- ========================  Newsletter ======================== -->

        <!-- <section class="banner">

            <div class="container-fluid">

                <div class="banner-image" style="background-image:url(assets/images/gallery-1.jpg)">
                    
                    <header>
                        <div class="container">

                            <h2 class="h2 title">Stay in touch!</h2>
                            <div class="text">
                                <p>Be first to know about all new interior features!</p>
                            </div>

                        </div>
                    </header>

                
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <input type="email" class="form-control" name="name" value="" placeholder="Enter your e-mail">
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-clean">Subscribe now</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div> 

        </section>
     -->
        <!-- ========================  Instagram ======================== -->

        <section class="instagram">

            <!--Header-->

            <header>
                <a target="_blank" href="https://www.facebook.com/SalahYoussefJewelryMaking?mibextid=2JQ9oc">
                    <h2 class="h6 title">
                        <i class="fa fa-facebook fa-3x"></i> <br>
                        #SalahYoussef
                    </h2>
                </a>
            </header>

            <!--Gallery-->
            <!--
            <div class="container">

                <div class="gallery clearfix">
                    <a class="item" href="#">
                        <img src="assets/images/product-1.jpg" alt="Alternate Text">
                    </a>
                    <a class="item" href="#">
                        <img src="assets/images/product-2.jpg" alt="Alternate Text">
                    </a>
                    <a class="item" href="#">
                        <img src="assets/images/product-3.jpg" alt="Alternate Text">
                    </a>
                    <a class="item" href="#">
                        <img src="assets/images/product-4.jpg" alt="Alternate Text">
                    </a>
                    <a class="item" href="#">
                        <img src="assets/images/product-5.jpg" alt="Alternate Text">
                    </a>
                    <a class="item" href="#">
                        <img src="assets/images/product-6.jpg" alt="Alternate Text">
                    </a>
                </div> 
            </div>
        -->

        </section>

        <!-- ========================  Benefits ======================== -->

        <!-- <section class="benefits" style="padding-top:0px !important">


            <header class="d-none">
                <div class="container">
                    <h2 class="h2 title">Benefits</h2>
                </div>
            </header>


            <div class="container">

                <div class="row">


                    <div class="col-6 col-lg-3" data-tilt>
                        <figure>
                            <div class="icon"><i class="icon icon-gift"></i></div>
                            <figcaption>
                                <span>
                                    <strong translate>home_content_1</strong> <br />
                                    <small translate>home_content_2</small>
                                </span>
                            </figcaption>
                        </figure>
                    </div>


                    <div class="col-6 col-lg-3" data-tilt>
                        <figure>
                            <div class="icon"><i class="icon icon-rocket"></i></div>
                            <figcaption>
                                <span>
                                    <strong translate>home_content_3</strong> <br />
                                    <small translate>home_content_4</small>
                                </span>
                            </figcaption>
                        </figure>
                    </div>


                    <div class="col-6 col-lg-3" data-tilt>
                        <figure>
                            <div class="icon"><i class="icon icon-history"></i></div>
                            <figcaption>
                                <span>
                                    <strong translate>home_content_5</strong> <br />
                                    <small translate>home_content_6</small>
                                </span>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-6 col-lg-3" data-tilt>
                        <figure>
                            <div class="icon"><i class="icon icon-diamond"></i></div>
                            <figcaption>
                                <span>
                                    <strong translate>home_content_7</strong> <br />
                                    <small translate>home_content_8</small>
                                </span>
                            </figcaption>
                        </figure>
                    </div>
                </div> 

            </div> 

        </section> -->

    


    