.products article .promo-badge {
    top: -10px;
    position: absolute;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
    padding: 2px;
    width: 60px;
    background: #158c15;
}
.promo-right
{
    right:0
}
.promo-left
{
    left:0
}

.products article .figure-list .image  {
    width:25%;}
    .products article .figure-list .text{
        width:75%;
    }