<div class="row table-title-row">
    <div class="col-md-6">
      <h2>Transactions</h2>
    </div>
     <!----------------------------- Controls------------------------------->
     <div class="col-md-6">
      <div class="float-right">
        <button class="btn btn-success" (click)="setApproval('approveSelected')" *ngIf="showActions">
          <span class="fa fa-check pull-left"></span>
          <span class="pull-right">Approve Transactions</span>
        </button>
        <button class="btn btn-danger" (click)="setApproval('rejectSelected')" *ngIf="showActions">
          <span class="fa fa-times pull-left"></span>
          <span class="pull-right">Reject Transactions</span>
        </button>
        <button class="btn btn-primary" (click)="setApproval('collectSelected')" *ngIf="showActions">
          <span class="fa fa-money-bill pull-left"></span>
          <span class="pull-right">Collect Transactions</span>
        </button>
        <button class="btn btn-primary" (click)="setApproval('settleSelected')" *ngIf="showActions">
          <span class="fa fa-handshake pull-left"></span>
          <span class="pull-right">Settle Transactions</span>
        </button>
        
      </div>
    </div>
  </div>
   <!----------------------------- Table------------------------------->
  <div class="innerBody">
    <div class="col-md-12">
      <app-server-table *ngIf="dataLoaded" [headers]="tableHeaders" [rowactions]="tableactions"
        [showcontrols]="showActions" 
        [selectRows]="true"
        [selectRowsConditional]="{name:'transactionStatus',value:'Rejected-Cancelled'}"
        [columnsearch]="true" 
        [getSelected]="getSelected"
        (methodCall)="tableMethodCall($event)"  
        [refreshValue]="refreshValue" 
        [apiPath]="'transaction/back/transactions'">
      </app-server-table>
    </div>
  </div>
  <!----------------------------- Add Form------------------------------->
  <ng-template #transactionLog let-modal>
    <app-transaction-log 
    [modalContentType]="modalContentType" 
    [transaction]="transactionRow">
  </app-transaction-log>
  </ng-template> 